/ {
	aliases {
		led-test = &led_test_node;
	};

	leds {
		compatible = "gpio-leds";
		led_test_node: led-test-node {
			gpios = <&gpioa 8 GPIO_ACTIVE_LOW>;
			label = "Test LED";
		};
	};
};

/* 1. 确保内部 HSI 开启 */
&clk_hsi {
	status = "okay";
};

/* 2. 关闭 PLL，不使用它 */
&pll {
	status = "disabled";
};

/* 3. 强制 RCC 直接将 HSI 8MHz 作为全板的主时钟源 */
&rcc {
	clocks = <&clk_hsi>;
	clock-frequency = <DT_FREQ_M(8)>; /* 纯 8MHz 基频，不超频不倍频 */
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};
