/* 位于：boards/stm32f103_mini.overlay */
/ {
	aliases {
		led-user = &led_pc7;
		button-user = &btn_pc6;
		modem-power = &pwr_4g;
		gps-power = &pwr_gps;

		/* ⭐ 新增：为您的 C 驱动添加串口映射别名，使其能够通过 DT_ALIAS(gps_uart) 成功捕获硬件 */
		gps-uart = &usart3;
	};

	leds {
		compatible = "gpio-leds";
		led_pc7: led-pc7-node {
			gpios = <&gpioc 7 GPIO_ACTIVE_LOW>;
			label = "User LED PC7";
		};
		pwr_4g: pwr-4g-node {
			gpios = <&gpioc 8 GPIO_ACTIVE_HIGH>;
		};
		pwr_gps: pwr-gps-node {
			gpios = <&gpioc 9 GPIO_ACTIVE_HIGH>;
		};
	};

	buttons {
		compatible = "gpio-keys";
		btn_pc6: btn-pc6-node {
			gpios = <&gpioc 6 (GPIO_PULL_UP | GPIO_ACTIVE_LOW)>;
			label = "User Button PC6";
		};
	};
};

&usart2 {
	pinctrl-0 = <&usart2_tx_pa2 &usart2_rx_pa3>;
	pinctrl-names = "default";
	current-speed = <115200>;
	status = "okay";
};

/* ================== GPS 串口部分修正 ================== */
&usart3 {
	pinctrl-0 = <&usart3_tx_pb10 &usart3_rx_pb11>;
	pinctrl-names = "default";

	/* ⭐ 修正：修改为 38400 匹配 u-blox M10 的默认初始化频率 */
	current-speed = <38400>;
	status = "okay";
};

&i2c1 {
	pinctrl-0 = <&i2c1_scl_pb6 &i2c1_sda_pb7>;
	pinctrl-names = "default";
	status = "okay";
	clock-frequency = <I2C_BITRATE_STANDARD>;

	ssd1306: ssd1306@3c {
		compatible = "solomon,ssd1306";
		reg = <0x3c>;
		width = <128>;
		height = <64>;
		segment-offset = <0>;
		page-offset = <0>;
		display-offset = <0>;
		multiplex-ratio = <63>;
		segment-remap;
		com-invdir;
		prechargep = <0x22>;
	};
};

&clk_hsi { status = "okay"; };
&pll { status = "disabled"; };
&rcc {
	clocks = <&clk_hsi>;
	clock-frequency = <DT_FREQ_M(8)>;
	ahb-prescaler = <1>;
	apb1-prescaler = <1>;
	apb2-prescaler = <1>;
};

/* ================== SPI1 修正部分 ================== */
&spi1 {
	status = "okay";

	/*
	 * 直接引用 Zephyr 官方为 STM32F1 预备的 SPI1 主机（Master）标准引脚标签
	 * 这样就不需要自己去写复杂的 &pinctrl 宏组合了
	 */
	pinctrl-0 = <&spi1_sck_master_pa5 &spi1_miso_master_pa6 &spi1_mosi_master_pa7>;
	pinctrl-names = "default";

	/* PA4 作为片选 */
	cs-gpios = <&gpioa 4 GPIO_ACTIVE_LOW>;

	lis3dsh: lis3dsh@0 {
	//	compatible = "vnd,spi-device"; //   这个是自定义 SPI 驱动
    	compatible = "st,lis2dh";  // 这个是 lis2dh, 要注意运行有问题时, 切回上面 vnd, spi-device
		reg = <0>;
		spi-max-frequency = <100000>; /* 从 1,000,000 降到 100,000 (100kHz) */
	};
};
/* 特别注意, 下面这个硬件中断配置是 LISDSH 专用, LIS3DSH 的 INT1 引脚, 接 STM32 上的 A1 引脚/也叫 PA1 引脚 */
/ {
	zephyr,user {
		/* 把引脚挂在用户自定义节点下，避开兼容性检查 */
		sensor-irq-gpios = <&gpioa 1 GPIO_ACTIVE_HIGH>;
	};
};
